# Sets and Tuples

In this notebook we will: 
- Learn how to work with `Sets` and `Tuples`

### Sets

`Sets` are groups of unique and unordered elements.  **Sets** also use curly brackets **{...}** but they should not be confused with `dictionaries`.

In [1]:
my_list = [1, 1, 1, 2, 2, 2]
my_set = set(my_list)
my_set

{1, 2}

In [2]:
my_string = 'aaabbb'
my_set = set(my_string) # "duplications will be removed"
my_set

{'a', 'b'}

### _in_ and _not in_ in a Set

These operations work the same as how we use them in `lists` and `strings`.

In [3]:
my_set = set([1, 2, 2, 3, 3, 3])
print(my_set)
2 in my_set # "as in lists and strings"

{1, 2, 3}

True

In [4]:
my_set = set([1, 2, 2, 3, 3, 3])
print(my_set)
6 in my_set

{1, 2, 3}

False

__Note__ that we cannot index the set by index or element.

In [5]:
my_set = set(["car", "car", "airplane"])
print(my_set)
my_set[0] # "cannot index in sets"

{'car', 'airplane'}

TypeError: 'set' object is not subscriptable

In [6]:
my_set = set(["car", "car", "airplane"])
print(my_set)
my_set["car"] # "cannot index in sets"

{'car', 'airplane'}

TypeError: 'set' object is not subscriptable

We can also iterate through a `set`.

In [7]:
my_set = set(["car", "car", "airplane"])
print(my_set)

for val in my_set:
    print(val)

{'car', 'airplane'}
car
airplane

### Set Operations

If we have two sets (`A` and `B`), we can find the:

- `A.union(B)` (things that are in A, in B, or both)
- `A.intersection(B)` (things that are in A and B)
- `A.difference(B)` (things that are in A but not B)

In [8]:
A = set(["a","b","c"])
B = set(["c","d","e"])

In [9]:
dir(A)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [10]:
A.union(B) # elements in A or B

{'a', 'b', 'c', 'd', 'e'}

In [11]:
A.intersection(B) # elements in both A and B

{'c'}

In [12]:
A.difference(B) # returns elements in A by not in B

{'a', 'b'}

### Exercise

**write function if the digits are 4 and unige**.For example the code '1234' should return `True`, but the code '8281' should return `False`.

In [13]:
code1 = '1234' # should return True
code2 = '8281' # should return False

### Write code here

In [14]:
code1 = '1234' # should return True
code2 = '8281' # should return False

def is_code_valid(code):
    return len(set(code)) == 4 # "chect number of uniqe digts equal 4 or not"

print(f"Is code {code1} valid? {is_code_valid(code1)}")
print(f"Is code {code2} valid? {is_code_valid(code2)}")

Is code 1234 valid? True
Is code 8281 valid? False

### Exercise:

Write a function that receives a string and returns a dictionary that has the count of words as `keys` and the list of the words as the `value`.  

For example, the text `This is Super super cool` would return 
> {1: ['cool', 'is', 'this'], 2: ['super']}

__Note__ it must be case insensitive such that `Super` and `super` count as the same word.

In [ ]:
text = "This is Super super cool"

### Write code here

In [15]:
### ANSWER
text = "This is Super super cool"
def word_counter(text):
    # initialize the dictionary
    count_2_word = {} # "create empty dictionary"
    
    # handles the case sensitive by making it all lower case
    # and then splits the text into a list separated by the space
    # notice that we can do chaining
    word_list = text.lower().split() # "transform all letters to lower case to handel case sensetivity, then split by space"
    
    unique_words = set(word_list) # "this set includes uinqe words"
    
    for word in unique_words: # "for each element (word) in uniqe_words"        
        if word_list.count(word) not in count_2_word: # "if the key (world_list.count(word)) is not saved before"
            count_2_word[word_list.count(word)] = [] 
        count_2_word[word_list.count(word)].append(word) # "note this is out of the if, then the first word will be saved as value and the key is word_list.count(word)"
        
    return count_2_word

In [16]:
print(word_counter(text))

{2: ['super'], 1: ['cool', 'is', 'this']}

In [17]:
# In Dicken's day, authors were paid by the word
#
text = """
It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, 
it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of 
Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing 
before us, we were all going direct to Heaven, we were all going direct the other way—in short, the period was 
so far like the present period, that some of its noisiest authorities insisted on its being received, for good 
or for evil, in the superlative degree of comparison only.
"""

res = word_counter(text) # "function for word count"
res

{1: ['darkness,',
  'period,',
  'only.',
  'evil,',
  'nothing',
  'on',
  'noisiest',
  'comparison',
  'worst',
  'like',
  'belief,',
  'some',
  'in',
  'to',
  'far',
  'present',
  'or',
  'hope,',
  'degree',
  'heaven,',
  'short,',
  'so',
  'best',
  'period',
  'spring',
  'good',
  'way—in',
  'being',
  'everything',
  'received,',
  'winter',
  'that',
  'superlative',
  'despair,',
  'other',
  'authorities',
  'wisdom,',
  'insisted',
  'light,',
  'foolishness,',
  'incredulity,'],
 10: ['it'],
 2: ['season',
  'going',
  'before',
  'were',
  'its',
  'epoch',
  'for',
  'us,',
  'all',
  'times,',
  'had',
  'direct',
  'age'],
 12: ['of'],
 14: ['the'],
 4: ['we'],
 11: ['was']}

To find out what was the most common word we can do the following:

In [18]:
res[max(res.keys())] # "subset on the maximum keys, this returns value"

['the']

Or if we want the 3 least common numbers used:

In [19]:
top_keys = sorted(res.keys())[0:3]
for key in top_keys: # "here we select the key from top_key"
    print(f"{key} : {res[key]}")

1 : ['darkness,', 'period,', 'only.', 'evil,', 'nothing', 'on', 'noisiest', 'comparison', 'worst', 'like', 'belief,', 'some', 'in', 'to', 'far', 'present', 'or', 'hope,', 'degree', 'heaven,', 'short,', 'so', 'best', 'period', 'spring', 'good', 'way—in', 'being', 'everything', 'received,', 'winter', 'that', 'superlative', 'despair,', 'other', 'authorities', 'wisdom,', 'insisted', 'light,', 'foolishness,', 'incredulity,']
2 : ['season', 'going', 'before', 'were', 'its', 'epoch', 'for', 'us,', 'all', 'times,', 'had', 'direct', 'age']
4 : ['we']

### Tuples

We won't spend a lot of time on tuples, because they are _very_ similar to `lists`. 
- they can hold any data type
- they are arbitrary length
- they are indexed (0, 1, 2, ..., length_of_tuple - 1)
- they use parenthesis `(...)`
The biggest difference are that tuples are immutable (cannot be modified)

In [20]:
list_of_people = ['Albert Einstein', 'Marie Curie', 'Ada Lovelace'] # square brackets for lists
tuple_of_people = ('Albert Einstein', 'Marie Curie', 'Ada Lovelace') # parenthesis for tuples

In [21]:
list_of_people

['Albert Einstein', 'Marie Curie', 'Ada Lovelace']

In [22]:
tuple_of_people

('Albert Einstein', 'Marie Curie', 'Ada Lovelace')

In [23]:
list_of_people[0] = 'Emmy Noether'
list_of_people

['Emmy Noether', 'Marie Curie', 'Ada Lovelace']

In [24]:
tuple_of_people[0] = 'Emmy Noether' # "change tupple"

TypeError: 'tuple' object does not support item assignment

We can do similar operations as in `lists`

In [25]:
tuple_of_people[1]

'Marie Curie'

In [26]:
tuple_of_people[1:]

('Marie Curie', 'Ada Lovelace')

In [27]:
len(tuple_of_people)

3

`Tuples` contains data that you __do not__ wish to modify (i.e. a birthdate), while `lists` will contain data that may be modified (i.e. age).